# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archivos de MacOS que no es necesario subir
.DS_Store

# Archivos y directorios del proyecto que no es necesario subir a GitHub
dependencies/*
projects/APK/local.properties
projects/APK/gradlew.bat
projects/APK/gradlew
projects/APK/.gradle/*
projects/APK/.idea/*
projects/APK/gradle/*
projects/APK/app/build/*
projects/APK/app/.cxx/*

# Archivos y directorios temporales generados por CLion, CMake o Android Studio al compilar
.idea/*
cmake-build-debug/*
cmake-build-release/*

/projects/APK/build
